<nav class="container border-bottom border-secondary width-full px-5">
	<div class="d-flex align-items-center justify-content-center justify-content-lg-between flex-wrap flex-md-nowrap">
	<a href="{% url 'index' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
		<img src="/static/icons/djcrm.svg" width="52" height="52">
	</a>
	<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
		<li>
		<a href="{% url 'index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/home.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Home
		</a>
		</li>
		<li>
		<a href="{% url 'about' %}" class="nav-link {% if request.resolver_match.url_name == 'about' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/info.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			About
		</a>
		</li>
		<li>
		<a href="{% url 'plans:plan_list' %}" class="nav-link {% if request.resolver_match.url_name == 'plan_list' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/euro.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Plans
		</a>
		</li>
		{% if request.user.is_authenticated %}
		<li>
		<a href="{% url 'dashboard:dashboard' %}" class="nav-link {% if request.resolver_match.url_name == "dashboard" %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/speedometer.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Dashboard
		</a>
		</li>
		{% endif  %}
		<li>
		<a href="{% url 'orders:order_list' %}" class="nav-link {% if request.resolver_match.url_name == "order_list" %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/table.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Orders
		</a>
		</li>
		<li>
		<a href="{% url 'products:product_list' %}" class="nav-link {% if request.resolver_match.url_name == "product_list" %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/cart.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Products
		</a>
		</li>
		{% if request.user.is_authenticated %}
		<li>
		<a href="{% url 'leads:lead_list' %}" class="nav-link {% if request.resolver_match.url_name == "lead_list" %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/people.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Leads
		</a>
		</li>
		{% endif %}
		{% if request.user.is_authenticated %}
		<li>
		<a href="{% url 'clients:client_list' %}" class="nav-link {% if request.resolver_match.url_name == "client_list" %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/people_search.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Clients
		</a>
		</li>
		{% endif %}
		{% if request.user.is_authenticated %}
		<li>
		<a href="{% url 'admin:index' %}" class="nav-link {% if request.resolver_match.url_name == 'admin' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/shield.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Admin panel
		</a>
		</li>
		{% endif %}
		{% if not request.user.is_authenticated %}
		<li>
		<a href="{% url 'users:login' %}" class="nav-link {% if request.resolver_match.url_name == 'login' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/login.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Login
		</a>
		</li>
		{% endif %}
		{% if not request.user.is_authenticated %}
		<li>
		<a href="{% url "users:register" %}" class="nav-link {% if request.resolver_match.url_name == 'register' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/register.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Register
		</a>
		</li>
		{% endif %}
		{% if request.user.is_authenticated %}
		<li>
		<a href="{% url "users:own_profile" %}" class="nav-link {% if request.resolver_match.url_name == 'own_profile' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/profile.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Profile
		</a>
		</li>
		{% endif %}
		{% if request.user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle position-relative link-secondary"
			href="#"
			id="dropdownMenuButton1"
			role="button"
			data-bs-toggle="dropdown"
			aria-expanded="false">
				<img src="/static/icons/message.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%)">
				Notifications
				{% if unread_notifications.count %}
				<span class="position-absolute translate-middle badge rounded-pill bg-danger" style="left: 80%; top: 20%" id="notif-badge">
					{{ unread_notifications.count }}
				</span>
				{% endif %}
			</a>
			<ul class="dropdown-menu dropdown-menu-end p-2" style="min-width: 320px; max-height: 500px; overflow-y: auto;" aria-labelledby="dropdownMenuButton1">
				{% for n in all_notifications %}
				<li class="mb-2 border-bottom pb-2">
					<div class="dropdown-item d-flex flex-column position-relative" href="#">
						<span class="{% if not n.is_read %}fw-bold{% endif %}">{{ n.title }}</span>
						<span>{{ n.content }}</span>
						<small class="text-muted">{{ n.created_at|date:"d.m.Y H:i" }}</small>
						{% csrf_token %}
						{% if n.is_read %}
						<button class="position-absolute btn btn-outline border-0" style="left: 80%; top: 0%;" disabled title="Read">
							<img src="/static/icons/check.svg" width="24" height="24" class="d-block mx-auto" style="filter: invert(100%)">
						</button>
						{% else %}
						<button class="position-absolute btn btn-outline" style="left: 80%; top: 0%;" title="Not read" data-notification-pk="{{ n.pk }}">
							<img src="/static/icons/check.svg" width="24" height="24" class="d-block mx-auto" style="filter: invert(100%)">
						</button>
						{% endif %}
					</div>
				</li>
				{% empty %}
				<li class="px-3 py-2 text-muted">No notifications</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% if request.user.is_authenticated and active_team %}
		<li>
		<a href="{% url 'teams:team_details' active_team.pk %}" class="nav-link {% if request.resolver_match.url_name == 'team_details' %}link-primary{% else %}link-secondary{% endif %}">
			<img src="/static/icons/team.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			{{ active_team.name }}
		</a>
		</li>
		{% endif %}
		{% if request.user.is_authenticated %}
		<li>
		<form method="POST" action="{% url 'users:logout' %}">
			{% csrf_token  %}
			<button class="nav-link link-secondary">
			<img src="/static/icons/logout.svg" width="24" height="24" class="d-block mx-auto mb-1" style="filter: invert(100%);">
			Logout
			</button>
		</form>
		</li>
		{% endif %}
	</ul>
	</div>
</nav>
<script>
	const unreadNotifications = document.querySelectorAll("[data-notification-pk]");
	unreadNotifications.forEach(btn => btn.addEventListener('click', async (event) => {
		event.preventDefault();
		const parent = btn.closest('.dropdown-item');
		const text = parent.querySelector('span');
		const data = new FormData();
		data.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
		data.append('is_read', true);
		await fetch(`/dashboard/notifications/make-read/${btn.dataset.notificationPk}`, {method: "POST", body: data, credentials: "same-origin"});
		btn.disabled = true;
		btn.classList.add('border-0');
		text.classList.remove('fw-bold');
		btn.removeAttribute('data-notification-pk');
		const badge = document.getElementById('notif-badge');
		if (badge) {
			let count = parseInt(badge.textContent.trim());
			if (!isNaN(count) && count > 0) {
				count -= 1;
				if (count === 0) {
					badge.remove();
				} else {
					badge.textContent = count;
				}
			}
		}
	}))
</script>